
.emotion_item {
    gap: 2%;
}

/* 감정 이미지 공통 스타일 및 개별 스타일 */
.emotion_item_id {
    cursor: pointer;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.emotion_item_id img {
    width: 50%;
    margin-bottom: 10px;
}
.EmotionItem span{
    font-size : 18px;
}

.EmotionItem_on_off {
    background-color: #ececec;
}
.EmotionItem_on_1 {
    background-color: #64c964;
    color: white;
}
.EmotionItem_on_2 {
    background-color: #9dd772;
    color: white;
}
.EmotionItem_on_3 {
    background-color: #fdce17;
    color: white;
}
.EmotionItem_on_4 {
    background-color: #fd8446;
    color: white;
}
.EmotionItem_on_5 {
    background-color: #fd565f;
    color: white;
}

